@use "/src/sass/variables.scss" as *;

.catalog {
    display: flex;
    justify-content: center;

    &__list {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        right: 200px;
    }

    &__card {
        cursor: pointer;
        background: black;
        color: white;
        // padding: 10px;   
        text-align: center;
        width: 250px;
        height: 321px;


        img {
            width: 250px;
            height: 250px;

        }

        h3 {
            margin-top: 10px;
            font-size: 18px;
        }

        &:hover {
            transform: scale(105%);
        }
    }

    &__info {
        display: flex;
        position: absolute;
        width: 425px;
        height: 763px;
        background: $light;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        top: 0;
        // right: 16%;
        transform: translateY(58%);


        h2 {
            margin-bottom: 10px;
        }

        img {
            width: 150px;
            height: 150px;
            margin-bottom: 15px;
        }



        ul {
            li {
                margin-bottom: 5px;
            }
        }

        &-text {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-top: 10px;
            padding-inline: 20px;
        }
        &-wrapper {
          position: relative;
        }
    }

    &__search-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0;
        // right: 0%;
        // bottom: 8%;
        width: 425px;
        height: 127px;
    }



}

.character {
    &__container {
        padding: 25px;
    }

    &__comics {
        width: 59px;
        height: 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        margin: 10px 0 10px 0;
    }

    &__header {
        text-transform: uppercase;
        width: 250px;
        height: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;

    }

    &__text {
        width: 90%;
        font-size: 14px;
    }

    &__about {
        display: flex;
        gap: 25px;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__btn {
        margin-top: 25px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-item {
            width: 90%;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 1);
            font-weight: 400;
            font-size: 14px;


        }
    }
}