@use "/src/sass/variables.scss" as *;

.header {
    &__title {
        display: block;
        width: 324px;
        height: 37px;
        font-family: Roboto Condensed;
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;

        span {
            color: $brown;
            font-size: 29px;
            font-weight: 700;
        }


    }

    &__content {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 650px;

    }

    &__choose {
        display: flex;
        gap: 8px;

        a {
            display: block;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
        }
       
    }
    &__characters{
        color: $dark;
      
    }
    &__comics{
        color: $dark;
      
    }
}
.active{
    color: $brown;
}