@mixin button {
    display: inline-block;
    font-size: 11px;
    color: white;
    clip-path: polygon(15px 0%,
            /* верхний левый срез */
            100% 0%,
            /* верхний правый угол */
            100% calc(100% - 15px),
            /* до среза снизу */
            calc(100% - 15px) 100%,
            /* внутрь для среза */
            0% 100%,
            /* нижний левый угол */
            0% 15px
            /* вверх до начала среза */
        );
    transition: background 0.3s;
}